* {
  padding: 0;
  margin: 0;
  font-size: $fs-1;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
  color: #b61984;
  font-family: "Montserrat",Arial,Helvetica,sans-serif;
  font-weight: $fw-3;
  position: relative;
  z-index: 1;
}
.content {
  color: inherit;
  font-weight: $fw-3;
  font-size: 3.8rem;
}