#instructors {
  position: relative;
  background-color: #dcd1f3;
  .instructor__content {
    padding-top: 2em;
    .column__content {
      width: 100%;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 1);
      .column__img {
        img {
          transform: scale3d(1, 1, 1);
          border-radius: 0;
          display: block;
          margin: 0;
          line-height: 0;
          max-width: 100%;
          height: auto;
          margin-bottom: 20px;
        }
        .column__img__header {
          text-align: center;
          margin-bottom: 1em;
          h4 {
            .title {
              font-size: .75em;
              margin-bottom: 0.7em;
            }
            .content {
              font-size: 1.55rem;
            }
          }
          .text {
            padding-bottom: 35px;
          }
        }
      }
    }
  }
  .instructors__img {
    position: absolute;
    right: 0;
    left: 0;
    pointer-events: none;
    img {
      width: 100%;
      height: auto;
      display: block;
    };
  }
}